@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

.center {
    margin: auto;
    width: 70%;
}

.bgblue {
    background-color: #82ccdd;
    padding: 0.2rem 1rem;
    /* text-align: center; */
    border-radius: 1rem;
}

.foot {
    text-align: center;
    padding: 0.1rem;
}

.text-small {
    font-size: .8rem;
}

.profile-pic {
    position: relative;
    width: 150px;
    left: 55vw;
    bottom: 12vh;
    border-radius: 15px;
}

.padding-top {
    padding-top: 1rem;
}